
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #2D022B;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  main {
    padding: 20px;
  }

  footer {
    background-color: #2D022B;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  /* Form Styles */
  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input, select, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
  }

  .rating-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .rating-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  .rating-item label {
    font-size: 24px;
    cursor: pointer;
  }

  .checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -3.5rem;
  }

  .checkbox-group label {
    width: 15rem;
    font-weight: normal;
  }

  button[type="submit"] {
    background-color: #2D022B;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
  }

  button[type="submit"]:hover {
    background-color: #555;
  }

/* stars */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.input-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0);
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}
/* Additional styles for the review.html page */
.review-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: center;
  }

  .review-container h2 {
    margin-top: 0;
  }

  .review-container p {
    margin-bottom: 20px;
  }
